/*=========#3c5855========================*/
.title-content {
    width: 220px;
    padding: 1px 2px;
}
#slider {
    min-height: 463px;
 }
#slider-img {
    margin: 0 auto;
    height: 400px;
    position: absolute;
    width: 100%;

}
.slides {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 319px !important;
    padding-left: 0px;
}
ul {
    list-style: none;
}
.slides li img {
    display: block;
    width: 100%;
    max-width: none;
}
.slides li.active {
    /*display: block;*/
    position: relative;
}
.slides li {
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: hidden;
}
#slider-content {
    max-width: 965px;
    margin: 0 auto;
}
.left-slider #slider-post {
    float: right;
    margin: 50px 11px 0 0;
}
#slider-post {
    position: relative;
    z-index: 10;
    width: 455px;
    text-shadow: 0 1px 2px rgba(0,0,0,.7);
}
.left-slider #slider-post .post {
    margin-left: 16px;
}
#slider-post .entry-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    color: #ecebeb;
}
#slider-post .entry-meta {
    color: #ecebeb;
    opacity: .5;
    margin: 8px;
    font-size: 13px;
}
.entry-meta {
    line-height: 24px;
    font-weight: 700;
    margin: 6px;
}
#slider-content #slider-front-img {
    margin-top: 20px;
    position: relative;
}
.left-slider #slider-form {
    float: left;
    margin: 51px 0 34px 12px;
}
.main-form {
    position: relative;
    width: 930px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 0 2px #666869;
    -webkit-box-shadow: 0 0 2px #666869;
    box-shadow: 0 0 2px #666869;
        min-height: 300px;
}
.content-form {
    clear: both;
    padding: 15px 39px 28px;
    /*min-height: 400px;*/
}
#slider-post .entry-header h3 {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 5px;
}
.main_form_title{
    background: url(../img/dotted.png)left bottom repeat-x;
        padding: 22px 39px;
    
    text-align: center;
}
.main_form_title h3{
    font-weight: 900;
    font-size: 23px;
}

section#footer {
    background: #242424;
    margin: 0;
        height: 150px;
}

section.section {
    margin: 0;
    padding: 15px 0 20px 0;
}
.form-block h4 {
    color: #7c8490;
    font-size: 5px;
    margin: 0 1px 3px;
}
.entry-meta, .form-block h4, .widget .viev-all, .widget>h4 {
    text-transform: uppercase;
}
.clear {
    clear: both;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 23px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.666;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #fcfcfc;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #f0ffe4;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #e2ffca;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #e4f7ff;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #caefff;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fefaeb;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #fdf4d3;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #fce6e6;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #f9cfcf;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 17.25px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.seat_lable{
    width: 100%;
    padding: 10px 5px;
        background-color: #c6dcef;
    
}
.seat_lable h4{
    
    font-weight: 700;
    font-size: 20px;
}
.notification{
       padding: 9px 50px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    margin: 0px 20px;
    font-weight: 700;
        border-radius: 8px;
} 

.success{
  color: #000000;
    background: #56cc86; 
}
.error{
   color: #d9edf7;
    background: #cc5656; 
}
.noteerror{
    font-size: 12px;
    color: #cc5656;
    font-weight: 700;

}
.navbar-nav {
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 500px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav li {
    height: 100%;
    line-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav > li {
    position: relative;
    display: block;
}
.nav>li>a {
    display: table-cell;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.paid_status{
  color: #5da217;
}
.not_status{
  color: #a71616;
}

.paid_status2{
color: #5da217;
    font-family: monospace;
    font-size: 35px;
}
.not_status2{

    font-family: monospace;
    font-size: 35px;

}
.barcode img{
  width: 30%;
  
}
@media print {
  .hide-print {
    display: none !important;
  }
}