/*=========#3c5855========================*/
.title-content {
    width: 220px;
    padding: 1px 2px;
}
#slider {
    min-height: 463px;
 }
#slider-img {
    margin: 0 auto;
    height: 400px;
    position: absolute;
    width: 100%;

}
.slides {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 319px !important;
    padding-left: 0px;
}
ul {
    list-style: none;
}
.slides li img {
    display: block;
    width: 100%;
    max-width: none;
}
.slides li.active {
    /*display: block;*/
    position: relative;
}
.slides li {
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: hidden;
}
#slider-content {
    max-width: 965px;
    margin: 0 auto;
}
.left-slider #slider-post {
    float: right;
    margin: 50px 11px 0 0;
}
#slider-post {
    position: relative;
    z-index: 10;
    width: 455px;
    text-shadow: 0 1px 2px rgba(0,0,0,.7);
}
.left-slider #slider-post .post {
    margin-left: 16px;
}
#slider-post .entry-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    color: #ecebeb;
}
#slider-post .entry-meta {
    color: #ecebeb;
    opacity: .5;
    margin: 8px;
    font-size: 13px;
}
.entry-meta {
    line-height: 24px;
    font-weight: 700;
    margin: 6px;
}
#slider-content #slider-front-img {
    margin-top: 20px;
    position: relative;
}
.left-slider #slider-form {
    float: left;
    margin: 51px 0 34px 12px;
}
.main-form {
    position: relative;
    width: 460px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 0 2px #666869;
    -webkit-box-shadow: 0 0 2px #666869;
    box-shadow: 0 0 2px #666869;
}
.content-form {
    clear: both;
    padding: 15px 39px 28px;
    /*min-height: 400px;*/
}
#slider-post .entry-header h3 {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 5px;
}
.main_form_title{
    background: url(../img/dotted.png)left bottom repeat-x;
        padding: 22px 39px;
    
    text-align: center;
}
.main_form_title h3{
    font-weight: 900;
    font-size: 23px;
}

section#footer {
    background: #242424;
    margin: 0;
}

section.section {
    margin: 0;
    padding: 15px 0 20px 0;
}
.form-block h4 {
    color: #7c8490;
    font-size: 5px;
    margin: 0 1px 3px;
}
.entry-meta, .form-block h4, .widget .viev-all, .widget>h4 {
    text-transform: uppercase;
}
.clear {
    clear: both;
}
.notification{
       padding: 9px 50px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    margin: 0px 20px;
    font-weight: 700;
        border-radius: 8px;
} 
.noteerror{
    font-size: 12px;
    color: #cc5656;
    font-weight: 700;

}
.success{
  color: #3a414b;
    background: #56cc86; 
}
.error{
   color: #d9edf7;
    background: #cc5656; 
}
.navbar-nav {
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 500px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav li {
    height: 100%;
    line-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav > li {
    position: relative;
    display: block;
}
.nav>li>a {
    display: table-cell;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.menus {
    min-height: 50px
}