   {% extends "admin.html" %}
{% block title %}Muhsin: Admin{% endblock %}
{% block heading %}Trips{% endblock %}{% block subheading %}All available trips{% endblock %}

                <!-- /.row -->
{% block content %}


<div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Total Muhsin Trips</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th><b>FROM LOCATION</b></th>
                                                <th><b>TO LOCATION</b></th>
                                                <th><b>DEPARTURE DATE</b></th>
                                                <th><b>DEPARTURE TIME</b></th>
                                                <th><b>BUS NUMBER</b></th>
                                                <th><b>PRICE</b></th>
                                                <th><b><i>**delet Trip</i></b></th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	{% for field in trips %}
                                            <tr>
                                                <td>{{ field.from_loc }}</td>
                                                <td>{{ field.to_loc }}</td>
                                                <td>{{ field.date_dep }}</td>
                                                <td>{{ field.time_dep}}</td>
                                                <td>{{ field.bus_no}}</td>
                                                <td>{{ field.price}}</td>
                                                <td><a href="{{ url_for('admin_trips_delete', trip_id = field.id)}}"><b><center>X</center></b></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>


{% endblock %}