   {% extends "admin.html" %}
{% block title %}Muhsin: Admin{% endblock %}
{% block heading %}Bookings {% endblock %}{% block subheading %}All paid and reserved seats{% endblock %}

                <!-- /.row -->
{% block content %}
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
{% for bus in buses %}
<div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Bus Number: <b>{{ bus }}</b> -      <a href="javascript:window.print()"><i>print</i></a></h3>
                            </div>
                            {% if bookings.select().where(bookings.trip == trips.select().where(trips.bus_no == bus)) %}
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>TICKET NUMBER</th>
                                                <th>FIRST NAME</th>
                                                <th>SECOND NAME</th>
                                                <th>ID/PASSPT NO</th>
                                                <th>NATIONALITY</th>
                                                <th>PHONE NUMBER</th>
                                                <th>EMAIL</th>
                                                <th>SEAT NUMBER</th>
                                                <th>STATUS</th>
                                                <th><i>**Simulate Payment</i></th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	{% for field in bookings.select().where(bookings.trip == trips.select().where(trips.bus_no == bus)) %}
                                            <tr>
                                                <td>{{ field.serial_no }}</td>
                                                <td>{{ field.firstname }}</td>
                                                <td>{{ field.secondname }}</td>
                                                <td>{{ field.id_passpt}}</td>
                                                <td>{{ field.nationality}}</td>
                                                <td>{{ field.phone_num}}</td>
                                                <td>{{ field.email}}</td>
                                                <td>{{ field.seat_no}}</td>
                                                 <td>
                                                 	{% if field.paid_for %}
                                                 	     <i><b class = "paid_status">Paid!</b></i>
                                                    {% else %}
                                                        <i><b class = "not_status">Not paid!</b></i>
                                                    {% endif %}


                                                 </td>
                                                  <td>
                                                    {% if field.paid_for %}
                                                       
                                                    {% else %}
                                                        <a href="{{ url_for('simulate_pay', row_id= field.id) }}">**[simulate payment]</a>
                                                    {% endif %}



                                                 </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
{% else %}
                                                        <i><b><center>****************No Bookings**************</center></b></i>
                            {% endif %}
                        </div>
                        

                    </div>
{% endfor %}

{% endblock %}
