{% extends "layout1.html" %}
{% from 'macros.html' import render_field %}
{% block heading %}Passanger Details{% endblock %}
{% block content %}

{% for seat in seat_list %}
<form method="POST" action=""  class = "form">
<br>
<div class = "seat_lable"><h4>Personal Information for Seat: {{ seat }} </h4></div>
<br>
    {{ form_dic[seat].hidden_tag() }}
    {% for field in form_dic[seat] %}
    	{% if field.label.text == 'Csrf Token' %}

    {% else %}
      <h4>{{ field.label.text }}</h4>
      {% endif %}
        {{ render_field(field) }}
    {% endfor %}

<center><button type="submit" name="form-name" value="{{ 'S'+seat }}" >Submit</button></center>

</form>
{% endfor %}

{% endblock %}
