{% extends "admin.html" %}
{% from 'macros.html' import render_field %}
{% block heading %}New trip {% endblock %}{% block subheading %} Create a trip{% endblock %}
{% block content %}
<div class="col-lg-12">
                        <div class="panel panel-default">
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.label.text == 'Csrf Token' %}

    {% else %}
      <h4>{{ field.label.text }}</h4>
      {% endif %}
        {{ render_field(field) }}
    {% endfor %}
    <button type="submit" id="submit">Create New Trip</button>
</form>
</div></div>
{% endblock %}
