{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block heading %}BOOK NOW{% endblock %} 

{% block content %}
<form method="POST" action="" class="form">
   
    {% for field in form %}
    {% if field.label.text == 'Csrf Token' %}

    {% else %}
      <h4>{{ field.label.text }}</h4>
      {% endif %}
        {{ render_field(field) }}
    {% endfor %}
   
					<input class="orange_button" type="submit" value="Search">
					
</form>
<a href="{{ url_for('ticket_check')}}"><b>Check Ticket Status</b></a>
{% endblock %}
