<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Muhsin{% endblock %}</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
		<!-- <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" /> -->
		<link rel="stylesheet" href="/static/css/bootstrap2.css">
		<!-- <link rel="stylesheet" href="/static/css/bootstrap-theme2.css"> -->
        <link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/muhsin1.css">
		<link rel="stylesheet" href="/static/css/default2.css">
		
    </head>
	 
    <body class="left-slider two-column">
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					
					
				</div>
				
			</div>
		</div>

		<section class="featured">
			

				<div id= "slider">

					<div id="slider-img">
				<ul class="slides" style="height: 659px;"> 
					<li style="display:list-item;" class="active"><img src="/static/img/slider1.jpg" alt=""></li> 
					 </ul>
			
					</div>
				
				<!-- ================================================================================= -->

				<div id="slider-content">
	<div id="slider-post">
		<div class="post">
			<div class="entry-header">




				<h3 class="entry-format">Muhsin: Booking system!.</h3>
			</div>
			<div class="entry-content">Love the journey. Making travel simpler. Everyone, everywhere, everyday. Less fare, more fair!. You're better off with Muhsin Express. <b>Comfort and style over every mile.</b></div>
			<div class="entry-meta">
				<a href="#" title="">Learn more</a>
			</div>
		</div>
		<div id="slider-front-img">
			<img src="/static/img/slider_front_img.png" alt="">
			</div>
		</div>
		<div id="slider-form" class="main-form" >


<div class="main_form_title">
				<h3>{% block heading %}Muhsin Booking Sytem{% endblock %}</h3>
			</div>

 
			
			<div id="book_car_content" class="content-form">
{% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


{% block content %}{% endblock %} 







				
					<div class="clear"/>
				</div>
				<div class="clear"/>
			</div>
			<div class="clear"/>
		</div>

</div> 
<!-- <div class="container"> 
				=====================================================================================
				
			</div> -->
		</section>
		
		<!-- services -->
		<section id="section-services" class="section pad-bot30 bg-white">
		<div class="container"> 
		
			







		</div>
		</section>
			
	
		
		
	<section id="footer" class="section footer">
		<div class="container">
			<div class="navbar-header">
					
					<div class="title-content"> <a href="#" title=""> <img class="logo" src="/static/img/thumb.png" alt="">  </div>
				</div>
			<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
				<div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				
				</div>
			</div>

			<div class="row align-center copyright">
					<div class="col-sm-12"><p>Copyright &copy; 2014 Muhsin - by <a href="{{ url_for('login') }}">Muhsin Administration</a></p></div>
                   
			</div>
			<div class = "menus">
			<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('ticket_check')}}">Check Ticket Status</a></li>
						
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div><!--/.navbar-collapse --></div>
		</div>

	</section>
	
	
        
	</body>
</html>