{% extends "layout1.html" %}
{% from 'macros.html' import render_field %}
{% block content %}
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.label.text == 'Csrf Token' %}

    {% else %}
      <h4>{{ field.label.text }}</h4>
      {% endif %}
        {{ render_field(field) }}
    {% endfor %}
    <button type="submit" id="submit">Login!</button>
</form>
<br>
<br>
{% endblock %}
