{% extends "layout1.html" %}
{% from 'macros.html' import render_field %}
{% block title %}Muhsin: Payment{% endblock %}
{% block heading %}Payment Process{% endblock %}
{% block content %}

<h3>Ticket Details</h3>
<table class="table table-striped" data-effect="fade">
<thead>
               <tr>
                                                <th><b>TICKET NUMBER</b></th>
                                                
                                                <th><b>PHONE NUMBER</b></th>
                                                <th><b>EMAIL</b></th>
                                                <th><b>SEAT NUMBER</b></th>
                                                <th><b>TICKET PRICE</b></th>
                                                <th><b>STATUS</b></th>
                                                
                                               
                                            </tr> 
                                        </thead>
                                        <tbody>
                                        	{% for x in serial_list%}
                                               
                                            <tr>
                                                <td><b>{{ model_dic[x].serial_no }}</b></td>
                                               
                                                <td>{{ model_dic[x].phone_num}}</td>
                                                <td>{{ model_dic[x].email}}</td>
                                                <td><center>{{ model_dic[x].seat_no}}</center></td>
                                                <td><b>Ksh {{ trip.get(trip.id == model_dic[x].trip_id).price }}/=</b></td>
                                                 <td>
                                                    {% if model_dic[x].paid_for %}
                                                        <i><b class = "paid_status">Paid!</b></i>
                                                    {% else %}
                                                        <i><b class = "not_status">Pending!</b></i>
                                                    {% endif %}



                                                 </td>
                                                
                                            </tr>
   
  </tr>

  {% endfor %}
              

</table>

<h2><b>PAY WITH MPESA </b></h2>
<img src="/static/img/mpesa.jpg">
<p>Details (Ticket Number) on payment and booking will be sent to you via text to the phone number(s) you provided. 
  </p><br>
<h3><b>Payment Proccess: Mobile Phone</b></h3>
<p>------- [1]: M-Pesa </p>
<p>------- [2]: Lipa na M-pesa </p>
<p>------- [3]: Pay Bill </p>
<p>------- [4]: Business no: 254254 </p>
<p>------- [5]: Account no: <b>TICKET NUMBER</b></p>
<p>------- [6]: Amount: <b>TICKET PRICE</b></p>
<br>
<p>
Seat(s) you selected will be reserved for <b>15 minutes</b> after which, if <b>no payment is received</b>, the reservation will be <i>cancelled</i>.
  </p><br>
  <p><a href="{{ url_for('ticket_check')}}">Check Ticket Status: </a> After Payment Check ticket status</p><br>
<center><a href="{{ url_for('index')}}"><input class="orange_button" type="submit" value="Home"></a></center>




{% endblock %}
