{% extends "layout1.html" %}
{% block heading %}Available Buses:{{ froml }}-{{ tol }}  {% endblock %}
{% block content %}
<h3>List of Available Buses that travel from {{ froml }} to {{ tol }} </h3>
<p>Click on book to view available seats</p>
<table class="table table-striped" data-effect="fade">
<thead>
                <tr>
                  <th><b>FROM-TO</b></th>
                   
                  <th><b>DATE</b></th>
                  <th><b>TIME</b></th>
                  <th><b>PRICE</b></th>
                  <th><b>GET A SEAT</b></th>
                </tr>
              </thead>

              <tbody>
                {% for field in trips %}
  <tr>
    <td>{{ field.from_loc }} - {{ field.to_loc }}</td>
    
    <td>{{ field.date_dep }}</td>
    <td>{{ field.time_dep}}</td>

    <td>{{ field.price}}</td>
    <td><a href="{{ url_for('set_seat', trip_id = field.id) }}"><button type="submit" id="submit">BOOK</button></a></td>
  </tr>

  {% endfor %}
              

</table><p>Click on book to view available seats</p>
{% endblock %}
