{% extends "layout1.html" %}
{% from 'macros.html' import render_field %}
{% block title %}Muhsin: Available Seats{% endblock %}
{% block heading %}Choose Seats{% endblock %}
{% block content %}
<div class="entry-content">Click in a seat number of choice to proceed to payments.<br><b>Note: Missing seats are booked </b></div>


<img src="/static/img/seat.png">
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ field() }}
    {% endfor %}
    <input class="orange_button" type="submit" value="Submit">
</form>
{% endblock %}
