{% extends "layout1.html" %}
{% from 'macros.html' import render_field %}
{% block title %}Muhsin: Payment{% endblock %}
{% block heading %}Payment Process{% endblock %}
{% block content %}
<style type="text/css" media="print">
  @page { size: portrait; }
</style>
<h3>Ticket Status</h3>
<table class="table table-striped" data-effect="fade">
<thead>
               <tr>
                                                <th><b>TICKET NUMBER</b></th>
                                                <th><b>SEAT NUMBER</b></th>
                                               <th><b>TRIP NUMBER</b></th>
                                                
                                                
                                                
                                            </tr> 
                                        </thead>
                                                
                                        <tbody>                                          
                                            <tr>

                                                <td><b>{{ book.serial_no }}</b></td>
                                               
                                                <td>{{ book.seat_no}}</td>
                                                <td><b> {{ trip.get(trip.id == book.trip_id).id }}</b></td>
                                                 
                                                 
                                            </tr>


</table>
<br>
                                        {% if book.paid_for %}
                                                          
                                                        <b class = "paid_status2">[Fully Paid!]</b><br>
                                                        <h3>Enjoy the Journey.</h3>
                                                        <br>
                                                        <div class = "barcode"><img src="/static/img/barcode.jpg"></div>
                                                        <center><a href="javascript:window.print()"><input class="orange_button hide-print" type="submit" value="Print Ticket"></a></center>

                                                    {% else %}
                                                       <b class = "not_status2">[No payment Received!]</b><br>
                                                       <h3>Payment is yet to be received by the system</h3>
                                                    {% endif %}
                      <center><a href="{{ url_for('index')}}">Home</a></center>


{% endblock %}
