{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block heading %}CHECK TICKET STATUS{% endblock %} 
{% block content %}
<center><H4>Check the payment status of your reserved seats.<br> 
  Input the ticket number of your seat, sent to your mobile phone to check the payment status</H4>
<div class="col-lg-12">
                        <div class="panel panel-default">
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.label.text == 'Csrf Token' %}

    {% else %}<br>
      <h4>{{ field.label.text }}</h4>

      {% endif %}
        {{ render_field(field) }}
    {% endfor %}
    <input class="orange_button" type="submit" value="Check">
</form>
</div></div></center>
{% endblock %}
